.nav-container {
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-inner-container {
  padding: 10px 20px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 2px;
}

.profile-pic {
  width: 4rem;
  height: 4rem;
  background-color: black;
  border-radius: 50%;
}
